body {
    font-family: Inter, Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: aliceblue;
    

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

header > ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
   
}

#logo {
    color: aliceblue;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    color: aliceblue;
    padding: 0 10rem 0 10rem;

    z-index: 10; 
    position: absolute; 
    box-sizing: border-box; 
    width: 100%;
    
}

a {
    text-decoration: none;
    color: aliceblue;
}

.gfg {
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    top: 45vh;
}

.main-img {
    object-fit: cover; 
    z-index: -1; 
    width: 100%; 
    min-height: 90vh; 
    filter: brightness(50%);
}

.main-h2 {
    position: absolute; 
    text-align: center; 
    color: aliceblue;
}

.scroll-top {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

footer {
    text-align: center; 
    box-sizing: border-box; 
    width: 100%;
    text-align:left;
    padding: 1rem 10rem 1rem 10rem;
} 

footer a {
    color: black;
}

#mobile-menu-button {
    display: none;
    cursor: pointer;
}

#mobile-menu-close-button {
    display: none;
    cursor: pointer;
    
}

#mobile-menu-close-button a {
    color: black;
}

#mobile-menu {
    display: none;
    background-color: aliceblue;
    padding: 10rem 10rem 0 10rem;
    height: 100vh;
    width: 100%;
    z-index: 5;
    position: absolute;
    box-sizing: border-box;
    overflow-y: auto;
    position: fixed;
    top: 0;
}

#mobile-menu > ul > li > a {
    color: black;
}

#mobile-menu > ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;
}

.gfg > h2 {
    font-size: 10vw;
}

.section-one {
    background-color: crimson;
    color: aliceblue;
    padding: 5rem 10rem 5rem 10rem;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.section-two {
    background-color: midnightblue;
    color: aliceblue;
    padding: 5rem 10rem 5rem 10rem;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.s1-img {
    width: 50%;
    border-radius: 1rem;
}

.textbox-left {
    flex: 1;
}

@media (max-width: 1100px)
 {
    .header, footer { 
        padding: 0 1rem 0 1rem;
    }

    .section-one, .section-two { 
        padding: 3rem 1rem 3rem 1rem;
    }
    
    #mobile-menu {
        padding: 5rem 1rem 0 1rem;;
    }
}



@media (max-width: 650px)
 {
    #mobile-menu-button {
        display: inline;
    }

    .section-one { 
        flex-wrap: wrap-reverse;
        gap: 1rem;

    }

    .section-two { 
        flex-wrap: wrap;
        gap: 1rem;

    }

    .desktop-menu {
        display: none;
    }

    .s1-img {
        width: 100%;
    }

    .gfg > h2 {
        font-size: 12vw;
    }
    
}

@media (max-width: 450px)
 {

    h1 {
        font-size: 3vh;
    }

    
}